#section27 {
    width: 1350px;
    margin: 80px auto 30px;
}

.s-pick {
    width: 1350px;
    margin: 50px auto 30px;
    text-align: center;
    height: 50px;
}

.s-pick h2 {
    text-align: center;
    font-weight: 700;
    position: relative;
    color: #000;
}

.pickWrap {
    margin-top: 40px;
}

.pickTab {
    display: flex;
    justify-content: center;
    margin: 0 auto 53px;
}

.pickTabList {
    width: auto;
    height: 40px;
    line-height: 38px;
    padding: 0 25px;
    border-radius: 20px 20px 20px 20px;
    margin: 0 8px;
    text-align: center;
    background: #000;
    cursor: inherit;
}

.pickTabList2 {
    width: auto;
    height: 40px;
    line-height: 38px;
    padding: 0 25px;
    border-radius: 20px 20px 20px 20px;
    margin: 0 8px;
    text-align: center;
    background: #c2c2c2;
    cursor: inherit;
}

.pickTabList > span {
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.pickContainerWrap {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.pickContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.pickList {
    width: 1350px;
    margin-right: 30px;
    text-align: center;
    background: #fff;
    display: flex;
}

.fl {
    float: left;
}

.fl.B-Img {
    position: relative;
    overflow: hidden;
    border: 0;
    border-radius: 15px;
    flex-shrink: 0;
    width: 500px;
    height: 491px;
}

.ImgBox {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.boxBlink {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
}

.pick-title-text {
    position: absolute;
    top: 50%;
    margin-top: -38px;
    width: 100%;
    height: 73px;
    text-align: center;
    padding-right: 20px;
}

.pick-title-text h2 {
    color: #fff;
    font-size: 33px;
}

.pick-title-text p {
    color: #fff;
    font-size: 17px;
}

.ImgBox img {
    float: left;
    width: 100%;
    vertical-align: middle;
    border-radius: 15px;
}

.pickList ul.C-Img {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 1350px;
}

.pickList ul.C-Img li.item {
    width: 33%;

    display: inline-block;
    vertical-align: top;
    flex: 0 1 32%;
    margin: 0;
}

.pickList ul.C-Img li.item:first-child {
    margin-left: 0;
}

.pickList ul.C-Img li.item:nth-child(-n+4) {
    margin: 0 0 15px 0;
    flex: 0 1 24.1%;
}

.itemBox {
    position: relative;
    overflow: hidden;
    border: 0;
    border-top-left-radius: 15px;
}

.pickList ul.C-Img li.item .box {
    width: 100%;
    text-align: left;
    position: relative;
    margin: 0 auto 40px;
    font-size: 11px;
    line-height: 20px;
}

.pickList ul.C-Img li.item:nth-child(-n+7) .box {
    margin-bottom: 0;
}

.prvImg {
    position: relative;
}

.prvImg .thumb {
    max-width: 345px;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: auto;
    border: 1px solid #f1f1f1 !important;
    box-sizing: border-box;
}

.prvImg img {
    vertical-align: middle;
}

.th-name {
    max-height: 40px;
    text-align: left;
    margin-top: 4px;
}

.th-name .th-title {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 268px;
    letter-spacing: 0.5px;
    color: #3d3d3d;
    font-size: 13px !important;
    display: inline-block;
    text-decoration: none;
}

span.sale {
    color: #eb6100;
    font-weight: 600;
    font-size: 17px;
}

.price01 {
    font-size: 14px;
    color: #999;
    padding-right: 10px;
    text-decoration: line-through;
}

.price02 {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}


.ad-card-wrap {
    width: 1240px;
    margin: 0 auto;
}

.ad-card1 {
    float: left;
    height: 220px;
}

.ad-card2 {
    float: right;
    height: 220px;
}

.hiddenText {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.ad-card-color {
    background: #5ab29d;
    width: 605px;
    height: 200px;
    border-radius: 4px;
}

.f-card {
    position: relative;
    height: 220px;
    box-sizing: border-box;
}

.card-thumb {
    overflow: hidden;
    position: absolute;
    right: 40px;
    top: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    text-align: center;
}

.card-thumb img {
    max-width: 100%;
    height: 100%;
}

.card-info {
    padding: 0 240px 0 40px;
}

.card-name {
    max-height: 60px;
    width: 275px;
    padding: 50px 0 0 0;
    font-size: 24px;
    line-height: 30px;
}

.card-name strong {
    color: #fff;
    font-weight: normal;
}

.card-subname {
    margin-top: 28px;
    vertical-align: middle;
    zoom: 1;
}

.subexplain {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0;
}

.subexplain dt {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.subexplain dd {
    display: inline-block;
    vertical-align: bottom;
}

.explain {
    font-family: "Lato", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
    vertical-align: bottom;
}